{% extends 'main.html' %}
{% block title %} Cart {% endblock title %}
{% block title_h1 %} Your Cart {% endblock title_h1 %}
{% block title_h2 %} Administrate your products {% endblock title_h2 %}

{% block content %}
<table class="table table-hover m-5">
    <thead>
        <tr>
            <th></th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for product in cart %}
                <tr>
                    <th><a href="{% url 'cart-product-delete' user.id product.productId.id %}">X</a></th>
                    <th>{{product.productId}}</th>
                    <th>${{product.productId.price}}</th>
                    <th>{{product.quantity}}</th>
                    <th>${{product.subtotal}}</th>
                    <th></th>
                </tr>
                {% empty %}
        <p>There are no products yet</p>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total}}</th>
        </tr>
    </tfoot>
</table>
{% if cart|length != 0 %}
<a href="{% url 'empty-cart' user.id %}" class="btn btn-primary m-3">Empty cart</a> {{message}} {{error}}
{% if user.is_authenticated and user != product.owner %}
<a href="{% url 'product-buy' user.id %}" class="btn btn-primary m-3">Buy</a>
{% endif %}
{% endif %}
<a class="btn btn-primary m-3" aria-current="page" href="{% url 'home' %}">Home</a>
{% endblock %}