{% extends 'main.html' %}

{% block content %}
<h1>Welcome Home</h1>
{{error}}

{% for product in products %}
<p>{{product.title}}</p>
<p>{{product.description}}</p>
<p>{{product.price}}</p>
<p>{{product.category}}</p>
<a href="{% url 'product-detail' product.id %}">Detail</a>
{% if user.is_authenticated and user != product.owner %}
<form action="{% url 'add-to-cart' user.id product.id %}" method="post">
    {% csrf_token %}
    <label for="quantity">Choose quantity:</label>
    <input type="number" name="quantity" id="quantity" min="1" value="1">
    <button>Add to cart</button>
</form>
<a href="{% url 'product-buy' product.id %}">Buy</a>{{message}}
{% endif %}
{% empty %}
<p>There are no products yet</p>
{% endfor %}
{% endblock %}