{% extends 'main.html' %}

{% block content %}
{{error}}

<form action="{% url 'home' %}" method="get">
    {% csrf_token %}
    {{ searchForm.as_p }}
    <button>Search</button>
</form>

{% for product in products %}
<div class="col mb-5">
    <div class="card h-100">
        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
        <!-- Product details-->
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{product.title}}</h5>
                <!-- Product price-->
                {{product.price}}
            </div>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                    href="{% url 'product-detail' product.id %}">Detail</a></div>
            {% if user.is_authenticated and user != product.owner %}
            <form action="{% url 'add-to-cart' user.id product.id %}" method="post">
                {% csrf_token %}
                <label for="quantity">Choose quantity:</label>
                <input type="number" name="quantity" id="quantity" min="1" value="1">
                <div class="text-center"><button class="btn btn-outline-dark mt-auto">Add to cart</button></div>
            </form>
            <a href="{% url 'product-buy' product.id %}">Buy</a>{{message}}
            {% endif %}
        </div>
    </div>
</div>
{% empty %}
<p>There are no products yet</p>
{% endfor %}
{% endblock %}
